.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body
{

}

.jumbotron
{
    font-family: 'Special Elite', cursive;
    background: #990000;
    color: #ffffff;
    text-align: center;
}

.jumbotron h1
{
    font-weight: bold;
}
.right-alignt
{
    float: right;
    vertical-align: middle;
}
