<!doctype html>
<html ng-app="mphasApp">

<head>

    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Special+Elite|Roboto:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>My Private Heating Account System</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>


    <div class="jumbotron">
        <div class="container">
            <h1>My Private Heating Account</h1>
        </div>
    </div>

    <div class="container" ng-view>
    </div>

    <div class="container">
        <div class="panel panel-info" ng-controller="OutputReadingsCtrl">
            <div class="panel-heading">

                <h4>List of latest entries
          <button type="button" class="btn btn-default right-alignt" ng-click="queryEntries()" ng-disabled="querying">
            <span class="glyphicon glyphicon-refresh"></span> 
          </button>
        </h4>

            </div>

            <div style="clear: both;"></div>
            <table class="table table-striped">
                <tr>
                    <th>Entry Day</th>
                    <th>Heating</th>
                    <th>Water</th>
                    <th>Delete</th>
                </tr>
                <tr ng-repeat="meterReading in meterReadings | orderBy:orderByPredicate: reverse | limitTo:displayLimit">
                    <td>{{meterReading.readingTsDisp}}</td>
                    <td>{{meterReading.heating}}</td>
                    <td>{{meterReading.water}}</td>
                    <td>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="deleteEntry(meterReading.id)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                </tr>
            </table>

        </div>
    </div>

    <script src="angularjs/angular.min.js"></script>
    <script src="angularjs/angular-route.js"></script>
    <script src="angularjs/angular-resource.js"></script>
    <script src="js/ui-bootstrap-tpls-0.12.1.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>

</body>

</html>