<!doctype html>
<html ng-app="mphasApp">

<head>

    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Special+Elite|Roboto:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>My Private Heating Account System</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>


    <div class="jumbotron">
        <div class="container">
            <h1>My Private Heating Account</h1>
        </div>
    </div>

    <div class="container" ng-view>
    </div>

    <!--
    <div class="container">
        <div class="panel panel-info" ng-controller="OutputReadingsCtrl">
            <div class="panel-heading">

                <h4>List of latest entries
          <button type="button" class="btn btn-default right-alignt" ng-click="queryEntries()" ng-disabled="querying">
            <span class="glyphicon glyphicon-refresh"></span> 
          </button>
        </h4>

            </div>

            <div style="clear: both;"></div>
            <table class="table table-striped">
                <tr>
                    <th>Entry Day</th>
                    <th>Heating</th>
                    <th>Water</th>
                    <th>Delete</th>
                </tr>
                <tr ng-repeat="meterReading in meterReadings | orderBy:orderByPredicate: reverse | limitTo:displayLimit">
                    <td>{{meterReading.readingTsDisp}}</td>
                    <td>{{meterReading.heating}}</td>
                    <td>{{meterReading.water}}</td>
                    <td>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="deleteEntry(meterReading.id)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                </tr>
            </table>
        </div>
    </div>
-->


    <!-- Javascript needed for Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Javascript needed for Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-animate.js"></script>
    <script src="assets/js/angular-ui-router.min.js"></script>
    <!-- Javascript for Angular / bootstrap -->
    <script src="assets/js/ui-bootstrap-tpls-0.13.0.min.js"></script>

    <!-- App specific javascript -->
    <script src="app/app.module.js"></script>
    
    <script src="app/app.routes.js"></script>

    <script src="app/shared/resourceFactories/baseApiUrlConstant.js"></script>
    <script src="app/shared/resourceFactories/meterReadingsFactory"></script>
    <script src="app/shared/services/DataFormatService.js"></script>

    <script src="app/components/readings_administration/AddEntryController.js"></script>

</body>

</html>