<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>Add meter readings</h4></div>
    <div class="panel-body">
        
        Davs
<!--
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#/addentry">Single</a></li>
            <li role="presentation"><a href="#/addmulti">Multible</a></li>
        </ul>

        <form name="form" role="form" ng-submit="vm.addSingleEntry()" novalidate>

            <div class="form-group {{form.heatingText.$invalid ? 'has-error' : ''}}">
                <label for="heatingText">Heating</label>
                <input type="number" ng-model="vm.heatingText" class="form-control" name="heatingText" id="heatingText" required min="0" max="100000" />
                <span class="help-block" ng-show="form.heatingText.$error.required">Required</span>
                <span class="help-block" ng-show="form.heatingText.$error.number">Invalid number</span>
                <span class="help-block" ng-show="form.heatingText.$error.min">Value has to be equal to or higher than 0</span>
                <span class="help-block" ng-show="form.heatingText.$error.max">Value has to be equal to or lower than 100000</span>
            </div>

            <div class="form-group {{form.waterText.$invalid ? 'has-error' : ''}}">
                <label for="waterText">Water</label>
                <input type="number" ng-model="vm.waterText" class="form-control" name="waterText" id="waterText" required min="0" max="100000" />
                <span class="help-block" ng-show="form.waterText.$error.required">Required</span>
                <span class="help-block" ng-show="form.waterText.$error.number">Invalid number</span>
                <span class="help-block" ng-show="form.waterText.$error.min">Value has to be equal to or higher than 0</span>
                <span class="help-block" ng-show="form.waterText.$error.max">Value has to be equal to or lower than 100000</span>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="vm.useCustomreadingTsDate"> Custom Entry Date
                </label>
            </div>

            <div collapse="!useCustomreadingTsDate">
                <div class="row">
                    <div class="col-md-12">
                        <label>Reading Date</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div style="display:inline-block;" class="well well-sm">
                            <div class="row">
                                <div class="col-md-8">
                                    <datepicker ng-model="vm.readingTsDate"></datepicker>
                                </div>
                                <div class="col-md-2">
                                    <timepicker ng-model="vm.readingTsTime" show-meridian="false" readonly-input="true"></timepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" ng-disabled="form.$invalid" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-ok"></span> Add</button>
        </form>
-->

    </div>
</div>