<mat-sidenav-container>
    <mat-toolbar color="primary">
        My Private Heating Account System
    </mat-toolbar>

    <div class="app-content">

        <mat-card>
            <button mat-raised-button (click)="reloadMeterReadings();">Reload</button>
        </mat-card>

        <mat-card>
            <add-meter-reading (meterReadingAdded)="onMeterReadingAdded($event)"></add-meter-reading>
        </mat-card>

        <mat-card>
            <meter-reading-list [(meterReadings)]="meterReadings"></meter-reading-list>
        </mat-card>

        <mat-card>

        </mat-card>
    </div>
</mat-sidenav-container>