<md-sidenav-container>
    <md-toolbar color="primary">
        My Private Heating Account System
    </md-toolbar>

    <div class="app-content">

        <md-card>
            <button md-raised-button (click)="reloadMeterReadings();">Reload</button>
        </md-card>

        <md-card>
            <add-meter-reading (meterReadingAdded)="onMeterReadingAdded($event)"></add-meter-reading>
        </md-card>

        <md-card>
            <meter-reading-list [(meterReadings)]="meterReadings"></meter-reading-list>
        </md-card>

        <md-card>

        </md-card>
    </div>
</md-sidenav-container>