<mat-card-header>
  <mat-card-title>
    <h4>Add meter reading</h4>
  </mat-card-title>
</mat-card-header>
<mat-card-content>
  <form (ngSubmit)="onSubmit()" #readerForm="ngForm">
    <div>
      <mat-input-container>
        <input type="number" matInput required placeholder="Heating" [(ngModel)]="heating" name="heating">
      </mat-input-container>
    </div>

    <div>
      <mat-input-container>
        <input type="number" matInput required placeholder="Water" [(ngModel)]="water" name="water">
      </mat-input-container>
    </div>

    <div>
      <mat-input-container>
        <input type="datetime-local" matInput placeholder="Time" [(ngModel)]="readingTsStr" name="readingTs">
      </mat-input-container>
    </div>

    <button type="submit" [disabled]="!readerForm.form.valid" mat-raised-button color="primary">Add</button>

    <button type="button" mat-raised-button (click)="newReading(); readerForm.reset();">Clear</button>

  </form>
</mat-card-content>