<md-card-header>
  <md-card-title>
    <h4>Add meter reading</h4>
  </md-card-title>
</md-card-header>
<md-card-content>
  <form (ngSubmit)="onSubmit()" #readerForm="ngForm">
    <div>
      <md-input-container>
        <input type="number" mdInput required placeholder="Heating" [(ngModel)]="meterReading.heating" name="heating">
      </md-input-container>
    </div>

    <div>
      <md-input-container>
        <input type="number" mdInput required placeholder="Water" [(ngModel)]="meterReading.water" name="water">
      </md-input-container>
    </div>

    <div>
      <md-input-container>
        <input type="datetime-local" mdInput placeholder="Time" [(ngModel)]="meterReading.readingTs" name="readingTs">
      </md-input-container>
    </div>

    <button type="submit" [disabled]="!readerForm.form.valid" md-raised-button color="primary">Add</button>

    <button type="button" md-raised-button (click)="newReading(); readerForm.reset()">Clear</button>

  </form>
</md-card-content>