<md-card-header>
  <md-card-title>
    <h4>List of recent readings</h4>
  </md-card-title>
</md-card-header>
<md-card-content>
  <!--<ul>
    <li *ngFor="let reading of filteredMeterReadings">{{reading.id}} - {{reading.readingTs | date:'dd. MMM yyyy HH:mm:ss'}}</li>
  </ul>-->
  <md-list>
    <md-list-item *ngFor="let reading of filteredMeterReadings">
      <div>
        <span>{{reading.readingTs | date:'dd. MMM yyyy HH:mm:ss'}} | {{reading.heating}} | {{reading.water}}</span>
        <span><button md-icon-button color="warn"><i class="material-icons md-18">delete</i></button></span>
      </div>
    </md-list-item>
  </md-list>
</md-card-content>
<md-card-actions>
  <button md-button color='primary' *ngIf="!listAll" (click)="toggleListAll();">Show all</button>
  <button md-button color='primary' *ngIf="listAll" (click)="toggleListAll();">Show recent</button>
</md-card-actions>